body {
  background-color: #fff;
}
.App {
  background-color: #00ced1;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
::placeholder {
  color: rgba(250, 250, 250, 0.7);
  font-size: 1em;
}
.todo input {
  background-color: #07a569;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}
.todo button {
  height: 50px;
  width: 80px;
  padding: 7px 0px;
  border-radius: 5px;
  border: 0;
  background-color: burlywood;
  font-size: 16px;
  font-weight: bold;
}
